#center{
    width: 940px;
    margin: auto;
    background-color: #ffffff;
    min-height: 1000px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,0.2);
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
#header{
    height: 100px;
    overflow: hidden;
}
#header-content{
    width: 940px;
    margin: auto;
    overflow: hidden;
    height: 100px;
}
body{
    margin: 0;
    background-image: url("../images/background-body-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#logo{
    margin-top: 22px;
    padding-left: 45px;
    width: 400px;
    overflow: hidden;
    float: left;
    padding-bottom: 16px;

}
#logo span{
    display: inline-block;
}
#logo .top{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 72px/normal "Atomic Age", Helvetica, sans-serif;
    color: #6E95B6;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    font-size: 45px;
}

#logo .top:hover {
    text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
#logo .bottom{
    color: rgb(64, 126, 196);
    font-size: 21px;
    padding-left: 7px;
}
#search-top {
    float: right;
    position: relative;
}
#search-top .searchform {
    position: relative;
    margin-top: 34px;
    margin-right: 49px;
}
#search-top label {
    display: none;
}
#search-top input.field {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #777;
    padding: 9px 25px 9px 12px;
    width: 220px;
    height: 37px;
    margin-right: 1px;
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,0.3),
    0 0 0 1px rgba(0,0,0,0.4),
    inset 0 0 3px rgba(0,0,0,0.1);
}
#search-top input.btn {
    border: none;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 13px;
    top: 11px;
    background: #fff;
    padding: 0;
}
#main-menu{
    background-color: #6E95B6;
    height: 45px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    display: block;
}
#main-menu li{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    height: 45px;
}
#main-menu li:hover{
    background-color: #6E93a8;
}
#main-menu li a{
    color: #ffffff;
    font-size: 17px;
    text-decoration: inherit;
    padding-top: 12px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
}
.sidebar{
    width: 220px;
    min-height: 800px;
    overflow: hidden;
    margin-left: 7px;
    margin-right: 7px;
}
.sidebar .block-views{
    margin-bottom: 20px;
}

.sidebar .block-views h2,.sidebar .block-block h2,.main .pane-views h2,.main .pane-block h2 {
    background-color: #6E95B6;
    height: 37px;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin: 0;
}
.sidebar .block-views,.main .block-views{
    z-index: 2;
    position: relative;
    width: 100%;
    background: #ddd !important;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
 }
.sidebar .block-views:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
.sidebar .block-views .content{
    padding-top: 15px;
}
.sidebar .block-views .content a{
    color: #2B76B5;
    text-decoration: inherit;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar .block-views .content a:hover{
    background-color: #A4B2BD;
    color: #ffffff;
}
#sidebar-first{
    float: left;
    overflow: hidden;
}
#sidebar-second{
    float: right;
    overflow: hidden;
    margin-left: 0;
}
.main{
    float: left;
    overflow: hidden;
    width: 475px;
    min-height: 800px;
}
#sidebar-second .block-block{
   margin-bottom: 15px;
}
#sidebar-second .block-block p{
    margin: 0;
}
#slider{
    position: relative;
    width: 472px;
}
#slider:before,#slider:after{
    z-index: 1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 16px 8px #777;
    -moz-box-shadow: 0 16px 8px #777;
    box-shadow: 0 16px 8px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
#slider:after{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
#slider .pane-content{
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: 1px solid #ccc;
}
#slider .views-field-title{    position: absolute;
    top: 255px;
    padding: 5px;
    background-image: url("../images/bg.png");
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-border-radius: 0 5px 5px 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
}
#list-sim table{
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    color: #2B76B5;
}
#list-sim table .even{
    background-color: #ffffff;
}
#list-sim table td{
    padding: 7px;
}
#list-sim table thead tr{
    height: 30px;
}
#footer{
    height: 70px;
    background-color: #6E95B6;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-border-radius: 0 0 5px 5px;
}
#footer p{
    font-family: sans-serif;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
}
#footer p.right{
   float: right;
}
#footer p.left{
    float: left;
}
/**
form search
*/
.main form{
    padding-top: 20px;
    color: #2B76B5;
}
form .description{
    padding-top: 10px;
}
